body{
    display: flex; /* Activa flexbox para centrar la tarjeta*/
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Hace que el body ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto del body */
    background-color: #f0f0f0 /* Color de fondo claro */
}
    
    
    

/* Pusimos .tarjeta porque es un nombre inventado, no existe en HTML */
.tarjeta{ 
    padding: 20px; /* Espacio interno */
    border-radius: 25px; /* Bordes redondeados */
    background-color: lightblue; /* Color de fondo de la tarjeta */
    display: flex; /* Activa flexbox para organizar el contenido */
    flex-direction: column; /* Organiza el contenido en columna */
    align-items: center; /* Centra el contenido horizontalmente */
}

/* Pusimos. photo porque es un nombre inventado, no existe en HTML */

.photo{
    width: 100px; /* Ancho de la foto */
    height: 100px; /* Alto de la foto */
    background-color: #3498db; /* Color de fondo azul */
    border-radius: 50%; /* Hace que la foto sea circular */
}
/* Estilos para la lista */
ul{
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
}
/* Estilos para los items de la lista */
li{
    margin: 5px 0; /* Espacio entre los items */
}